{{set . "title" "修改节点"}}
{{template "header.html" .}}

<div class="panel panel-default">
	<div class="panel-heading">修改</div>
	<form action="/nodes/{{.node.Id}}" class="panel-body" method="POST">
		{{.validation | error_messages}}
		<input type="hidden" name="csrf_token" value="{{.csrf_token}}" />
		<div class="form-group">
			<div class="input-group">
				{{select_tag .groups "Name" "Id" "parent_id" .node.ParentId}}
				<input type="text" class="form-control" value="{{.node.Name}}" name="name" placeholder="节点名称" />
			</div>
		</div>
		<div class="form-group">
			<textarea class="form-control" rows="10" name="summary" placeholder="用 Markdown 编写说明">{{.node.Summary}}</textarea>
		</div>
		<div class="actions">
			<button type="submit" class="btn btn-primary">更新</button>
			<a class="btn btn-default" href="/nodes">取消</a>
		</div>
	</form>
</div>

{{template "footer.html" .}}