{{set . "title" "节点管理"}}
{{template "header.html" .}}

<div class="panel panel-default">
	<div class="panel-heading">创建节点</div>
	<form action="/nodes" class="panel-body form-inline" method="POST">
		{{.validation | error_messages}}
		
		<div class="form-group">
			<div class="input-group">
				{{select_tag .groups "Name" "Id" "node_group_id" 0}}
				<input type="text" class="form-control" name="name" placeholder="节点名称" />
			</div>
		</div>
		<button type="submit" class="btn btn-primary">提交</button>
	</form>
</div>

<ul class="list-group">
{{range .nodes}}
	<li class="list-group-item">
		<span>{{.Name}}</span> 
		<span class="opts pull-right">
			<a href="/nodes/{{.Id}}/edit"><i class="fa fa-pencil"></i></a>
			<a href="/nodes/{{.Id}}/delete" data-confirm="确定要删除吗？" data-method="post"><i class="fa fa-trash-o"></i></a>
		</span>
	</li>
{{end}}
</ul>

{{template "footer.html" .}}