{{set . "title" "社区"}}
{{template "header.html" .}}

<div class="row">
	<div class="col-md-9">
		<div class="topics panel panel-default">
			<div class="panel-heading clearfix">
        {{if eq .channel "node"}}
				<div class="node-info">
					<div class="name">{{.node.Name}}</div>
					<div class="summary">
						{{markdown .node.Summary}}
					</div>
				</div>
        {{else}}
				<div class="filter pull-right">
					<span class="l">查看:</span>
					<a href="/topics" class="normal {{active_class .channel ""}}">默认</a> / 
					<a href="/topics/popular" class="popular {{active_class .channel "popular"}}"><i class="fa fa-diamond"></i> 优质帖子</a> / 
					<a href="/topics/recent" class="recent {{active_class .channel "recent"}}">最近发布</a>
				</div>
        {{end}}
			</div>
			<div class="panel-body">
			  {{range .topics}}
			  <div class="topic clearfix">
			    <div class="avatar">
						{{user_avatar_tag .User "96x96"}}
					</div>
			    <div class="infos">
			      <div class="title"><a href="/topics/{{.Id}}#{{.RepliesCount}}">{{.Title}}</a> {{awesome_icon_tag .}}</div>
						<div class="info">
							{{node_name_tag .Node}}
							{{user_name_tag .User}} 发表于 {{timeago .CreatedAt}}
							{{if .LastReplyUserLogin}}
							・ 最后由 {{user_name_tag .LastReplyUserLogin}} 于 {{timeago .LastRepliedAt}}回复
							{{end}}
						</div>
			    </div>
					<div class="count">
						<a href="/topics/{{.Id}}#{{.RepliesCount}}">{{.RepliesCount}}</a>
					</div>
			  </div>
			  {{end}}
			</div>
			<div class="panel-footer">
				{{paginate .page_info}}
			</div>
		</div>
		
		
		{{template "partials/node-list.html" .}}
	</div>
	<div class="col-md-3">
    {{template "partials/topic-side.html" .}}
  </div>
</div>

{{template "footer.html" .}}