{{set . "title" "社区"}}
{{template "header.html" .}}

<div class="row">
	<div class="col-md-9">
		<div class="topics panel panel-default">
			<div class="panel-heading">话题列表</div>
			<div class="panel-body">
			  {{range .topics}}
			  <div class="topic clearfix">
			    <div class="avatar">
						{{user_avatar_tag .User "96x96"}}
					</div>
			    <div class="infos">
			      <div class="title"><a href="/topics/{{.Id}}#reply{{.RepliesCount}}">{{.Title}}</a> {{awesome_icon_tag .}}</div>
						<div class="info">
							{{node_name_tag .Node}}
							{{user_name_tag .User}} 发表于 {{timeago .CreatedAt}}
							{{if .LastReplyUserLogin}}
							・ 最后由 {{user_name_tag .LastReplyUserLogin}} 于 {{timeago .LastRepliedAt}}回复
							{{end}}
						</div>
			    </div>
					<div class="count">
						<a href="/topics/{{.Id}}#reply{{.RepliesCount}}">{{.RepliesCount}}</a>
					</div>
			  </div>
			  {{end}}
			</div>
			<div class="panel-footer">
				{{paginate .page_info}}
			</div>
		</div>
	</div>
	<div class="col-md-3">
    {{template "partials/topic-side.html" .}}
  </div>
</div>

{{template "footer.html" .}}