{{set . "title" .topic.Title }}
{{template "header.html" .}}

<div class="row">
	<div class="col-md-9">
	  <div class="topic-detail panel panel-default">
			<div class="panel-heading clearfix">
		    <h1>{{.topic.Title}} {{awesome_icon_tag .topic}}</h1>
		    <div class="info">
					{{node_name_tag .topic.Node}}
					{{user_name_tag .topic.User}} 发表于 {{timeago .topic.CreatedAt}}
					{{if .topic.LastReplyUserLogin}}
					・ 最后由 {{user_name_tag .topic.LastReplyUserLogin}} 于 {{timeago .topic.LastRepliedAt}}回复
					{{end}}
		    </div>
				<div class="avatar">
					{{user_avatar_tag .topic.User "96x96"}}
				</div>
			</div>
	    <div class="panel-body markdown">
	      {{markdown .topic.Body}}
	    </div>
			{{if .topic.IsAwesome}}
				<div class="label-awesome">
				{{awesome_icon_tag .topic}} 此话题已被管理员设置为精华帖！
				{{if .current_user.IsAdmin}}
				<a href="/topics/{{.topic.Id}}/rank?v=normal" title="取消精华" class="pull-right" data-confirm="确定要取消精华帖么？" data-method="POST"><i class="fa fa-remove"></i></a>
				{{end}}
				</div>
			{{end}}
			{{if .topic.IsNoPoint}}
				<div class="label-nopoint">
				此帖已被标记 NoPoint 将不会在列表页面显示，请检查帖子内容是否不符合社区要求。
				{{if .current_user.IsAdmin}}
				<a href="/topics/{{.topic.Id}}/rank?v=normal" title="取消" class="pull-right" data-confirm="确定要取消么？" data-method="POST"><i class="fa fa-remove"></i></a>
				{{end}}
				</div>
			{{end}}
			<div class="panel-footer clearfix">
				<span class="opts">
					{{watch_tag .topic .current_user}}
					{{star_tag .topic .current_user}}
					{{if .current_user.IsAdmin}}
						{{if .topic.IsNormal}}
						<a href="/topics/{{.topic.Id}}/rank?v=awesome" title="加精" data-confirm="确定要设置为精华帖么？" data-method="POST"><i class="fa fa-thumbs-o-up"></i> 加精</a>
						{{end}}
						{{if .topic.IsNormal}}
						<a href="/topics/{{.topic.Id}}/rank?v=nopoint" title="NoPoint" data-confirm="确定要将此帖移动到 NoPoint 节点么？" data-method="POST"><i class="fa fa-thumbs-o-down"></i> 埋贴</a>
						{{end}}
					{{end}}
				</span>
				{{if is_owner .current_user .topic}}
				<span class="pull-right opts">
		     	<a href="/topics/{{.topic.Id}}/edit"><i class="fa fa-pencil"></i></a>
					<a href="/topics/{{.topic.Id}}/delete" data-confirm="确定要删除吗？" data-method="post"><i class="fa fa-trash-o"></i></a>
				</span>
				{{end}}
			</div>
		</div>
			
		{{template "topics/_replies.html" .}}
  </div>
  <div class="col-md-3">
    {{template "partials/topic-side.html" .}}
  </div>
</div>

{{template "footer.html" .}}