{{set . "title" .topic.Title }}
{{template "header.html" .}}

<div class="row">
	<div class="col-md-9">
	  <div class="topic-detail">
	    <h1>{{.topic.Title}}</h1>
	    <div class="info">
	      {{.topic.User.Login}} 发表于 {{timeago .topic.CreatedAt}}
	      {{if eq .current_user.Id  .topic.UserId}}
	      <a href="/topics/{{.topic.Id}}/edit">编辑</a>
	      {{end}}
	    </div>
	    <div class="markdown">
	      {{markdown .topic.Body}}
	    </div>
		</div>
			
		{{template "topics/_replies.html" .}}
		{{template "topics/_reply_form.html" .}}
  </div>
  <div class="col-md-3">
    {{template "partials/topic-side.html" .}}
  </div>
</div>

{{template "footer.html" .}}