<div class="panel panel-default">
	<div class="panel-body">
  		<a href="/topics/new" class="btn btn-primary">发表新话题</a>
		<a class="pull-right feed-button btn btn-default" href="/topics/feed"><i class="fa fa-rss"></i> RSS</a>
	</div>
</div>

<div class="hidden-xs hidden-sm">

<div class="panel panel-default">
	<div class="panel-heading">小贴士</div>
	<div class="panel-body">
		{{random_tip}}
	</div>
</div>


{{setting "topic_index_sidebar_html"}}


<div class="panel panel-default">
	<div class="panel-heading">统计信息</div>
	<ul class="list-group">
			<li class="list-group-item">社区会员: {{total "users"}} 人</li>
			<li class="list-group-item">帖子数: {{total "topics"}} 个</li>
			<li class="list-group-item">回帖数: {{total "replies"}} 条</li>
	</ul>
</div>

</div>