{{set . "title" "社区"}}
{{template "header.html" .}}

<div id="notifications">
	<div class="topics panel panel-default">
		<div class="panel-heading clearfix">
			通知 {{.page_info.TotalEntites}}
		</div>
		<div class="panel-body">
			{{range .notifications}}
			<div class="notification">
				{{if .IsReply}}
				{{template "notifications/_reply.html" .}}
				{{end}}
				{{if .IsMention}}
				{{template "notifications/_mention.html" .}}
				{{end}}
			</div>
			{{end}}
		</div>
		<div class="panel-footer">
			{{paginate .page_info}}
		</div>
	</div>
</div>