/*
 *= require stylesheets/bootstrap.min
 *= require stylesheets/font-awesome.min
 */

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
  & {
    zoom:1;
  }
}

body {
	background: #E5E5E5;
}

.header {
	.navbar {
		background-color: #FFF;
		border:0px;
		box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.1),0 1px 0 0 rgba(0, 0, 0, 0.1);
	}
}

.panel {
	border: 0px;
	border-radius: 3px;
	box-shadow: 0 0px 2px rgba(0, 0, 0, 0.07);
}

.pager {
	margin: 0px;
}

.opts {
	a { margin-right: 5px; }
	a:link,
	a:visited { 
		color: #999; 
		text-decoration: none;
	}
	a:hover { color: #999; text-decoration: none; }
}

.pull-right.opts {
	a { margin-left: 5px; margin-right: 0px; }
}

.avatar-96x96 { width: 48px; height: 48px; }
.uname { color:#666; }
.node-name { 
	background: #f0f0f0; padding: 1px 3px; color: #777; margin-right: 5px; 
	&:hover { color:#555; text-decoration:none; background:#e0e0e0; }
}

a.followed {
	.fa {
		color: #C99B9E;
	}
}

.topics {
	.topic {
		padding-bottom: 10px; min-height: 58px;
		position: relative; padding-left: 60px;
		.avatar { position: absolute; top: 0px; left: 0; text-align:center; }
		.title { font-size: 15px; }
		.info { color: #aaa; font-size: 12px; margin-top: 5px; }
		.count { 
			width: 100px; text-align: right;
			position: absolute; right: 10px; top: 10px; float: right; 
			a:link,
			a:hover,
			a:visited { 
				line-height: 12px;
				color: #fff; font-weight:bold; 
				border-radius: 80px; padding: 2px 10px 2px 10px; 
				display: inline-block; 
				text-decoration: none;
			}
			
			a:link { background: #98ACDF; }
			a:hover { background: #0069D6; }
			a:visited { background: #AAA; }
		}
	}
}

.topic-detail {	
	margin-bottom: 30px;
	.panel-heading {
		padding-right: 60px;
		h1 { margin-top:0; font-size:24px; color:#333;text-align: left; line-height:100%; margin-bottom:8px; }
		.avatar { position: absolute; top: 10px; right: 25px; text-align:center; }
	}
	
	.info {
      color:#c0c0c0;
      font-size:12px;
      .node {
        padding: 1px 5px;
        color: #778087;
        text-decoration: none;
        background-color: #f5f5f5;
      }
      em { font-style:normal; }
	
		.opts {
			a { 
				margin-left: 5px; color: #999; 
				&:hover { color: #333; }
			}
		}
    }
}

#replies {
	margin-bottom: 30px;
	.panel-body {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.info { 
		color:#aaa; margin-bottom:2px; 
		.uname { color: #777; font-weight: bold; }
		.opts {
			a { 
				margin-left: 5px; color: #999; 
				&:hover { color: #333; }
			}
		}
	}
	.reply { 
		margin: 0 -15px 0 -15px;
		padding:15px;
		min-height: 78px;
		position: relative;
		border-bottom: 1px solid #eee;
		&:last-child {
			border-bottom: 0px;
		}
		&.none {
			text-align: center;
			color: #999;
			min-height: 32px;
		}
		.deleted { 
			color:#aaa;
      		text-decoration: line-through;
      		font-size:12px; text-align:center; 
		}
		
		.content { 
			margin-left: 58px; 
			&.deleted { margin-left:0px; }
		}
		.avatar { position: absolute; top: 14pxpx; left: 14px; text-align:center; }
		.info { font-size: 12px; }
	}
}

.markdown {
  position:relative;
  line-height: 1.8em; font-size:14px; text-overflow: ellipsis; word-wrap: break-word;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  p,
  pre,
  ul,
  ol,
  blockquote { margin-bottom: 16px; }
  
  p { font-size: 14px; line-height: 1.5em; }
  p:last-of-type { margin-bottom:0; }
  hr { border:3px solid #e0e0e0; border-bottom:0px; margin: 18px auto; width:50%; }
  blockquote {
    margin-left:20px;
    p { font-size:12px; color:#777; font-weight:normal; line-height:160%; }
  }
  pre {
    font-family:Monaco,Menlo,"Courier New", monospace; 
    font-size: 12px;
    background-color: #F5F5F5;
    border: 0px;
    padding: 5px;
    color: #444;
    overflow: auto;
    border-radius: 0px;
    code {
      padding: 0!important;
      font-size: 12px!important;
      background-color: #F5F5F5 !important;
      border: none!important; }
  }
  pre::-webkit-scrollbar {
    height: 8px;
    width: 8px; }

  pre::-webkit-scrollbar-thumb:horizontal {
    width: 25px;
    background-color: #ccc;
    -webkit-border-radius: 4px; }

  pre::-webkit-scrollbar-track-piece {
    margin-bottom: 10px;
    background-color: #e5e5e5;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px; }

  pre::-webkit-scrollbar-thumb:vertical {
    height: 25px;
    background-color: #ccc;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px white; }

  code {
    font-size: 12px!important;
    background-color: #f8f8ff !important;
    color: #444 !important;
    padding: 0 .2em!important;
    border: 0px; 
    margin: 2px;
    border-radius: 0px;
    display:inline-block;
    line-height: 20px;
    font-family:Monaco,Menlo, "Courier New", monospace; 
  }
  a:link, 
  a:visited { 
    color:#0069D6 !important; text-decoration: none !important; 
  }
  a:hover { text-decoration: underline !important; color:#00438A !important; }
  
  a.at_floor { color:#60b566 !important;  }
  a.at_user {
    color:#777 !important; font-weight: bold;
    margin-right: 2px;
    i { color:#777 !important; }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 { 
    font-weight:bold; text-align:left; 
    margin-top: 10px !important; margin-bottom: 16px; 
  }
  h1 { font-size: 26px !important; text-align: center; margin-bottom: 30px !important; }
  h2 { 
    text-align: left;
    font-weight:bold; font-size:20px !important; line-height:100%; 
    margin:0; color:#444; margin-top:20px; 
    border-bottom:1px solid #eee; 
    padding-bottom: 10px; margin-bottom:20px;  
  }
  h3 { font-size: 18px; text-align: left; color: #444; }
    
  strong { color:#000; }
  ul,
  ol {
    list-style-position: inside;
    list-style-type: square;
    margin:0;
    margin-bottom: 20px;
    padding:0px 20px;
    p, 
    blockquote,
    pre { margin-bottom:8px; }
    li { line-height:1.6em; padding:2px 0; color:#333; font-size:13px; }
    ul { list-style-type: circle; margin-bottom: 0px; }
  }
  ol { 
    list-style-type: decimal; 
    ol { list-style-type: lower-alpha; margin-bottom: 0px; }
  }
  img { vertical-align: top; max-width: 100%; }
}


footer {
	margin-top: 50px;
}