<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {{stylesheet_tag "app"}}
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    {{javascript_tag "app"}}
  </head>
  <body>
  <div class="header">
		<nav class="navbar navbar-static-top navbar-default">
			<div class="container">
        <nav class="navbar-header">
          <a href="/" class="navbar-brand">Golang China</a>
        </nav>
        
        <ul class="nav navbar-nav">
          <li><a href="/topics">社区</a></li>
        </ul>
        
        {{if .logined}}
				<ul class="nav navbar-nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{.current_user.Login}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
						 <li><a href="/account/edit">个人设置</a></li>
              <li><a href="/topics/new">发布话题</a></li>
							{{if .current_user.IsAdmin}}
							<li class="divider"></li>
							<li><a href="/nodes">节点管理</a></li>
							{{end}}
              <li class="divider"></li>
              <li><a href="/signout" data-method="post" rel="nofollow">登出</a></li>
            </ul>
          </li>
        </ul>
        {{else}}
        <nav  class="nav pull-right">
				<a href='/signup' class="btn btn-default navbar-btn">注册新用户</a>
				<a href='/signin' class="btn btn-default navbar-btn">登录</a>
        </nav>
        {{end}}
			</div>
		</nav>
	</div>
  <div class="container">
	{{if .flash.error}}
		<div class="alert alert-warning">{{.flash.error}}</div>
	{{end}}
  {{if .flash.success}}
		<div class="alert alert-info">{{.flash.success}}</div>
	{{end}}