<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {{stylesheet_link_tag "app"}}
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    {{javascript_include_tag "app"}}
		{{setting "custom_head_html"}}
  </head>
  <body>
  <div class="header">
		<nav class="navbar navbar-inverse navbar-static-top navbar-default">
			<div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">Mediom</a>
        </div>
        <nav class="navbar-collapse bs-navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/" class="home {{active_class .controller_name "home"}}">首页</a></li>
            <li><a href="/topics" class="topics {{active_class .controller_name "topics"}}">社区</a></li>
          </ul>
          {{if .logined}}
  				<ul class="nav navbar-nav navbar-right">
            <li class="nav-search">
              <form class="navbar-form form-search" action="/search" method="GET">
                <div class="form-group">
                  <input class="form-control" name="q" type="text" placeholder="搜索本站内容" />
                </div>
                <i class="fa btn-search fa-search"></i>
                <i class="fa btn-close fa-times-circle"></i>
              </form>

            </li>
  					<li class="notification-count">
  						<a href="/notifications" class="{{if .current_user.UnReadNotificationsCount}}new{{end}}" title="通知"><i class="fa fa-bell"></i><span class="count">{{.current_user.UnReadNotificationsCount}}</span></a>
  					</li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{.current_user.Login}} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
  						 <li><a href="/{{.current_user.Login}}">个人主页</a></li>
  						 <li class="divider"></li>
  						 <li><a href="/account/edit">个人设置</a></li>
                <li><a href="/topics/new">发布话题</a></li>
  							{{if .current_user.IsAdmin}}
  							<li class="divider"></li>
  							<li><a href="/nodes">节点管理</a></li>
  							<li><a href="/settings">设置项</a></li>
  							{{end}}
                <li class="divider"></li>
                <li><a href="/signout" data-method="post" rel="nofollow">登出</a></li>
              </ul>
            </li>
          </ul>
          {{else}}
          <ul class="nav navbar-nav navbar-right">
    				<li><a href='/signup'>注册新用户</a></li>
    				<li><a href='/signin'>登录</a></li>
          </nav>
          {{end}}
        </nav>
			</div>
		</nav>
	</div>
  <div class="container">
	{{if .flash.error}}
		<div class="alert alert-warning">{{.flash.error}}</div>
	{{end}}
  {{if .flash.success}}
		<div class="alert alert-info">{{.flash.success}}</div>
	{{end}}