{{set . "title" "登录"}}
{{template "header.html" .}}

<div class="row">
  <form class="signin col-md-4 col-md-offset-4" action="/signin" method="POST">
    {{.validation | error_messages}}
    <div class="form-group">  
      <label for="username">帐号</label>
      <input type="text" class="form-control" name="login" value="{{.form.Login}}" id="username" placeholder="帐号">
    </div>
    <div class="form-group">  
      <label for="password">密码</label>
      <input type="password" class="form-control" name="password" id="password" >
    </div>
    <button type="submit" class="btn btn-block btn-primary">登录</button>
  </form>
</div>


{{template "footer.html" .}}