{{set . "title" "注册新用户"}}
{{template "header.html" .}}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading">注册新用户</div>
			  <form class="signup panel-body" action="/signup" method="POST">
			    {{.validation | error_messages}}
			    <input type="hidden" name="csrf_token" value="{{.csrf_token}}" />
			    <div class="form-group">
			      <input type="text" class="form-control" name="login" value="{{.params.login}}" id="username" placeholder="帐号">
			    </div>
			    <div class="form-group">
			      <input type="text" class="form-control" name="email" value="{{.params.email}}" id="username" placeholder="Email">
			    </div>
			    <div class="form-group">
			      <input type="password" class="form-control" name="password" placeholder="密码" id="password">
			    </div>
			    <div class="form-group">
			      <input type="password" class="form-control" name="password-confirm" placeholder="确认密码"  id="password-confirm">
			    </div>
			    <div class="form-group">
			    	<input type="text" class="form-control" placeholder="验证码" name="captcha" id="captcha">
			    	<div class="captcha-block">
				    	<img class="button-captcha" src="/captcha" alt="点击刷新" title="点击刷新" />
			    	</div>
			    </div>
			    <button type="submit" class="btn btn-block btn-primary">注册新用户</button>
			  </form>
				<div class="panel-footer">
					如果你已有本站帐号，可以 <a href="/signin">直接登录</a>
				</div>
			</div>
		</div>
	</div>
</div>

{{template "footer.html" .}}
