{{set . "title" "个人设置"}}
{{template "header.html" .}}
<div class="row">
    <div class="col-md-2">
        {{template "accounts/_nav.html" .}}
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">修改密码</div>
            <div class="panel-body">
                <form action="/account/password/update" method="POST">
                    {{.validation | error_messages}}
                    <input type="hidden" name="csrf_token" value="{{.csrf_token}}" />
                    <div class="form-group">
                            <label for="user-password">旧密码</label>
                            <input type="password" class="form-control" name="password" value=""></span>
                    </div>
                    <div class="form-group">
                            <label for="user-new-password">新密码</label>
                            <input type="password" class="form-control" name="new-password" value="">
                    </div>
                    <div class="form-group">
                            <label for="user-confirm-password">确认新密码</label>
                            <input type="password" class="form-control" name="confirm-password" value="">
                    </div>
                    <button type="submit" class="btn btn-primary">修改密码</button>
                </form>
            </div>
        </div>
    </div>
</div>